*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Game-Container {
  text-align: center;
  height: 100vh;
  background: rgb(174,238,232);
  background: radial-gradient(circle, rgba(174,238,232,1) 0%, rgba(148,233,173,1) 100%);
}

.Title {
  font-size: 50px;
}

.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.Points {
  padding: 10px;
  margin: 0px;
}

.choice {
  height: 25vh;
  display: flex;
  justify-content: space-around;
}

.computer-choice {
  width: 200px;
  transform: rotateY(180deg);
}

.user-choice {
  width: 200px;
  
}

.Options {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 8%;
}

.button {
  width: 150px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  padding: 50px;
}